<div class="menu-section">
    <!-- Bebidas -->

    <div class="menu-item">
      <div class="menu-text">
        <h3>Chilcanos</h3>
        <p>Clásico/Macerado/Aguaymanto</p>
      </div>
      <img src="chilcano.png" alt="Chilcanos">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Mojitos</h3>
        <p>Clásico/Macerado</p>
      </div>
      <img src="mojito.png" alt="Mojitos">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Piña Colada</h3>
        <p>Con piñas doradas, camote frito, moteado y sarsa criolla</p>
      </div>
      <img src="piñacolada.png" alt="Piña Colada">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Algarebina</h3>
        <p>Con cacao dorado, crema, chocolate y sarsa criolla</p>
      </div>
      <img src="algarrobina.png" alt="Algarebina">
    </div>

    <div class="menu-item">
      <div class="menu-text">
        <h3>Machu Picchu</h3>
        <p>Con crema de anís y hierbas aromáticas</p>
      </div>
      <img src="machupichu.png" alt="Machu Picchu">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Pisco Sour</h3>
        <p>Clásico/Macerado/Aguaymanto</p>
      </div>
      <img src="piscosour.png" alt="Pisco Sour">
    </div>
    
  </div>
  