<div class="menu-section">
    <!-- Entradas -->
    <div class="menu-item">
      <div class="menu-text">
        <h3>Alitas a la BBQ</h3>
        <p>10 unidades + papas nativas</p>
      </div>
      <img src="alitas.png" alt="Alitas a la BBQ">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Papa a la Huancaína</h3>
        <p>Papas cubiertas con una suave y cremosa salsa huancaína</p>
      </div>
      <img src="huancaina.png" alt="Papa a la Huancaína">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Causa de Pollo</h3>
        <p>Clásica causa limeña de papa amarilla rellena con pollo</p>
      </div>
      <img src="causapollo.png" alt="Causa de Pollo">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Causa Acevichada</h3>
        <p>Versión moderna de la causa, con papas doradas, pescado frito y un toque de salsa criolla</p>
      </div>
      <img src="causaacevichada.png" alt="Causa Acevichada">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Ensalada Mixta</h3>
        <p>Pepino, tomate, zanahoria y palta</p>
      </div>
      <img src="ensalada.png" alt="Ensalada Mixta">
    </div>
  </div>
  