<div class="menu-section">
    <!-- Platos de Pollo a la Leña -->
    <div class="menu-item">
      <div class="menu-text">
        <h3>1 Pollo a la Leña</h3>
        <p>Acompañado papas nativas + ensalada fresca + cremas</p>
      </div>
      <img src="unpollo.png" alt="1 Pollo a la Leña">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>1/2 Pollo a la Leña</h3>
        <p>Acompañado papas nativas + ensalada fresca + cremas</p>
      </div>
      <img src="uncuartopollo.png" alt="1/2 Pollo a la Leña">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>1/4 Pollo a la Leña</h3>
        <p>Acompañado papas nativas + ensalada fresca + cremas</p>
      </div>
      <img src="uncuartopollo.png" alt="1/4 Pollo a la Leña">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Trío a la Leña</h3>
        <p>1/8 de pollo a la leña + 1 pieza de chancho a caja china + 1 palito de anticucho + papas nativas + ensalada fresca</p>
      </div>
      <img src="trioalaleña.png" alt="Trío a la Leña">
    </div>
  </div>
  