<nav class="navbar">
  <!-- Navbar Section -->
  <div class="logo">
    <img src="dondelucho3.png" alt="Donde Lucho Logo" />
  </div>
  <div class="nav-links">
    <a href="home">Inicio</a>
    <a href="https://drive.google.com/file/d/13WMfiSvMLSYTUpmknfzF6h1OEWdMcw1h/view?usp=sharing" target="_blank">Carta Salón</a>
    <a href="delivery">Delivery</a>
    <a href="pide-online">Descubre más</a>
  </div>
</nav>

<!-- Angular Router Outlet -->
<router-outlet></router-outlet>

<footer class="footer">
  <div class="promo-section">
    <p>Descarga nuestra aplicación y realiza tus pedidos fácilmente</p>
    <div class="app-buttons">
      <button class="playstore">Playstore</button>
      <button class="appstore">App Store</button>
    </div>
  </div>

  <div class="footer-section">
    <img src="dondelucho3.png" alt="Donde Lucho Logo" class="footer-logo">
    <div class="social-media">
      <a href="https://facebook.com" target="_blank">
        <img src="fa.png" alt="Facebook">
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="inst.png" alt="Instagram">
      </a>
      <a href="https://tiktok.com" target="_blank">
        <img src="tui.png" alt="TikTok">
      </a>
    </div>
    <p>“Gracias por elegir Donde Lucho, donde cada plato tiene su sazón”</p>
  </div>
</footer>
