<div class="menu-section">
    <!-- Postres -->
    <div class="menu-item">
      <div class="menu-text">
        <h3>Crema Volteada</h3>
        <p>Postre clásico peruano tiene una textura cremosa y suave.</p>
      </div>
      <img src="postres.png" alt="Crema Volteada">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Torta Helada</h3>
        <p>Postre refrescante, ideal para el verano, con varias capas de bizcocho y gelatina.</p>
      </div>
      <img src="tortahelada.png" alt="Torta Helada">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Torta de 3 Leches</h3>
        <p>Este es un pastel esponjoso empapado en una mezcla de tres tipos de leche.</p>
      </div>
      <img src="torta3leches.png" alt="Torta de 3 Leches">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Gelatina</h3>
        <p>Un postre clásico y sencillo hecho a base de gelatina.</p>
      </div>
      <img src="gelatina.png" alt="Gelatina">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Gelatina Especial</h3>
        <p>Un postre de dos texturas que combina gelatina y flan.</p>
      </div>
      <img src="gelatinaespecial.png" alt="Gelatina Especial">
    </div>
  </div>
  