<div class="menu-section">
    <!-- Platos -->
    <div class="menu-item">
      <div class="menu-text">
        <h3>Lomo Saltado</h3>
        <p>Lomo fino con papas nativas fritas y arroz blanco</p>
      </div>
      <img src="lomosaltado.png" alt="Lomo Saltado">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Asado de Res</h3>
        <p>Con papa sancochada o puré de papa</p>
      </div>
      <img src="criollos.png" alt="Asado de Res">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Fetuccini</h3>
        <p>Con chanchito a la caja china</p>
      </div>
      <img src="fetucccini.png" alt="Fetuccini">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Tallarines Verdes</h3>
        <p>Con Milanesas de Pollo</p>
      </div>
      <img src="tallarinesverdes.png" alt="Tallarines Verdes">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Carapulcra</h3>
        <p>Con papa seca y pollo a la leña o caja china</p>
      </div>
      <img src="carapulcra.png" alt="Carapulcra">
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <h3>Tacu Tacu</h3>
        <p>Con lomo fino saltado</p>
      </div>
      <img src="tacutacu.png" alt="Tacu Tacu">
    </div>
  </div>
  