<div class="menu-section">
  <div class="menu-item">
    <div class="menu-text">
      <h3>Pachamanca 3 Sabores</h3>
      <p>Cordero + chancho + pollo + plátano a la parrilla con papa, camote, humita y habas</p>
    </div>
    <img src="tipicos.png" alt="Pachamanca 3 Sabores" />
  </div>

  <div class="menu-item">
    <div class="menu-text">
      <h3>Cuy frito <span>(Grande)</span></h3>
      <p>Acompañado de papas doradas y sarza criolla</p>
    </div>
    <img src="cuygrande.png" alt="Cuy frito (Grande)" />
  </div>

  <div class="menu-item">
    <div class="menu-text">
      <h3>Cuy frito <span>(Mediano)</span></h3>
      <p>Acompañado de papas doradas y sarza criolla</p>
    </div>
    <img src="cuymediano.png" alt="Cuy frito (Mediano)" />
  </div>

  <div class="menu-item">
    <div class="menu-text">
      <h3>Chicharrón de Chancho</h3>
      <p>Con papas doradas, camote frito, mote y sarza criolla</p>
    </div>
    <img src="chicharonchancho.png" alt="Chicharrón de Chancho" />
  </div>

  <div class="menu-item">
    <div class="menu-text">
      <h3>Trucha frita</h3>
      <p>Con yuca dorada, arroz, choclo y sarsa criolla</p>
    </div>
    <img src="truchafrita.png" alt="Chicharrón de Chancho" />
  </div>
  
  <div class="menu-item">
    <div class="menu-text">
      <h3>Patasca</h3>
      <p>Con mote, carne de res y hierbas aromáticas</p>
    </div>
    <img src="patasca.png" alt="Chicharrón de Chancho" />
  </div>

</div>
